**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
    color: white;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -0;
    left: 0;
    
}

main {
    padding: 20px;
}

.emoji{
    position: absolute; /* ou relative, fixed, sticky */
  top: 50%; /* Ajuste conforme necessário */
  left: 105%; /* Ajuste conforme necessário */
  border-radius: 70%px !important;
}

/* Sobre o blog */
.about-blog {
   
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.about-blog h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about-blog p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

/* Categorias de Esportes */
.sports {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.sport-category {
 
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    
}

.sport-category h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.sport-category p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.sport-category a {
    color: #3498db;
    text-decoration: none;
}

.sport-category a:hover {
    text-decoration: underline;
}
