{% extends "base.html" %}
{% load static %}

{% block title %} Basquete {% endblock %}

{% block content %}
    
<link rel="stylesheet" href="{% static 'esporte/css/basquete.css' %}">



<h1 class="titulo"> Basquete </h1>

</br>
</br>

<div class="geral">
  

  <div>
    <h2 class="subtitulo2"> Uma Contratação Inesperada</h2>
    </br>
    </br>
    <h5 class="autor">Escrito por Levy Roque</h5>
    <img class="foto1" src="{% static 'esporte/img/doncic.webp' %}" alt="NY KNICKS" width="1100" height="300">
    <a class="tempo">03/02/2024 18:30 </a>

    </br>
    </br>


    <p class = "escrever"> Um dos astros da NBA o croata Luka Doncic escolheu sair do Dallas para 
      fazer parte dos Los Angeles Lakeres junto com Lebron James e companhia,será que Doncic irá 
      se encaixar nos Lakeres ou será um grande fracasso? Isso só o tempo,a performace e a vontade 
      de Luka Doncic vão poder nos dá essa resposta </p> 
    

  </div>
    
    </br>
    </br>
    </br>
    </br>

  <div>
    <h2 class="subtitulo2"> A esperança Grega </h2>
    </br>
    </br>
    <h5 class="autor">Escrito por Levy Roque</h5>
    <img class="foto1" src="{% static 'esporte/img/ant.webp' %}" alt="Boston" width="1100" height="300">
    <p class="tempo">05/02/2024 20:00 </p>
    
    </br>
    </br>
    

    <p class = "escrever">Os Bucks querem conquistar a NBA novamente com o Giannis Antetokounmpo assim como ocorreu 
      na temporada de 2021, o Ala-Pivo grego é a grande esperança dos Bucks para conquistar o título da NBA </p>
    </div>

    </br>
    </br>
    </br>
    </br>


  <div> 
    <h2 class="subtitulo2"> A Solução de New York </h2>
    </br>
    </br> 
    <h5 class="autor">Escrito por Levy Roque</h5>
    <img class="foto1" src="{% static 'esporte/img/jalen-brunson.webp' %}" alt="Bulls" width="1100" height="300">
    <p class="tempo">08/02/2021 14:30 </p>

    </br>
    </br>


    <p class = "escrever"> O time do New York Knicks fez uma boa temporada no ano passado
      eles querem alcançar patamares maiores e o Julen Bruson vai ser o cara do time,ele já participou
      de muitos Alls-Stars da NBA e é constantemente convocado para a Seleção dos Estados Unidos </p>
  
    </div>  

    </br>
    </br>
    </br>
    </br>

  <div> 
    <h2 class="subtitulo2"> O Maior salário da NBA </h2>
    </br>
    </br>  
    <h5 class="autor">Escrito por Levy Roque</h5>
    <img class="foto1" src="{% static 'esporte/img/butler.webp' %}" alt="Wizard" width="1100" height="300">
    <p class="tempo">10/02/2021 10:30 </p>

    </br>
    </br>

    <p class = "escrever"> O astro Jimmy Butler ex-Miami Heat e com passagem pelo Chicago Bulls
      foi anunciado pelo Golden State Warriors e receberá o maior salário da NBA,será que ele fará 
      jus ao seu salário e vai conseguir levar o Golden State a glória novamente junto com o Stefen
      Curry? Acompanhe a NBA para vê esse desfecho.
    </p>
  </div>
  
  </br>
  </br>
  </br>
  </br>

<div>  

<h2 class="subtitulo2">  A Nova Dupla Imbatível </h2>
</br>
</br>    

<h5 class="autor">Escrito por Levy Roque</h5>  
<img class="foto1" src="{% static 'esporte/img/lukaelebron.webp' %}" alt="Wizard" width="1100" height="300">
<p class="tempo">12/02/2021 14:30 </p>

</br>
</br>

   <p class = "escrever"> O glorioso Los Angeles Lakers venceram o Utah Jazz por 132x113 com show
   do estreante Doncic marcando 14 pontos e do Astro do time o lendário Lebron James marcando 
   24 pontos </p>
</br>

</div>

</br>
</br>
</br>
</br>

<div>  

<h2 class="subtitulo2"> Tows e Karl comandão a vitória dos Knicks contra os Pacers </h2>
</br>
</br>    

<h5 class="autor">Escrito por Levy Roque</h5>  
<img class="foto1" src="{% static 'esporte/img/townss.webp' %}" alt="Wizard" width="1100" height="300">
<p class="tempo">12/02/2021 14:30 </p>

</br>
</br>

  <p class = "escrever"> O New York Knicks visitou o Indiana Pacers, no Gainbridge Fieldhouse, e venceu por 128 a 115. 
  O destaque da partida foi a dupla Karl-Anthony Towns e Josh Hart, que combinaram para 70 pontos…  </p>
</br>

</div>

</br>
</br>
</br>
</br>

<div>  

<h2 class="subtitulo2"> Kevin Durant quebra record histórico porém 
Ja Morant e cia vencem o Suns de Durant e interrompe a felicidade completa do recordista </h2>
</br>
</br>  
<h5 class="autor">Escrito por Levy Roque</h5>    
<img class="foto1" src="{% static 'esporte/img/basquete.avif' %}" alt="Wizard" width="1100" height="300">
<p class="tempo">12/02/2021 14:30 </p>

</br>
</br>

  <p class = "escrever"> Kevin Durant fez um jogo sensacional e entrou para a historia,
  o jogador dos Suns se juntou a lendas como LeBron James, Kareem Abdul-Jabbar, Karl Malone, Kobe Bryant, 
  Michael Jordan, Dirk Nowitzki e Wilt Chamberlain no clube dos 30 mil pontos,porém nem tudo são Flores
  e o Suns comandados por Kevin Durant perderam para os Grizzlies de Ja Morant  </p>
</br>

</div>





</div>
 
{% endblock %}
    
    
</body>
</html>




   

