{% extends "base.html" %}
{% load static %}

{% block title %} Volei {% endblock %}

{% block content %}
    
<link rel="stylesheet" href="{% static 'esporte/css/basquete.css' %}">



<h1 class="titulo"> Volei </h1>



<div class="geral">
  

  <div>
    
    <h2 class="subtitulo2"> Praia Grande vence Araguari <h2>
    
    </h2>
    </br>
    </br>
    <h5 class="autor">Escrito por Levy Roque</h5>
    <img class="foto1" src="{% static 'esporte/img/volei-1.avif' %}" alt="NY KNICKS" width="1100" height="300">
    <a class="tempo">03/02/2024 18:30 </a>

    </br>
    </br>


    <p class = "escrever"> A equipe do litoral de SP venceu o time mineiro com parciais de 19/25, 28/26, 25/19 e 25/23, 
    pela 9ª rodada da fase inicial da competição. Com o resultado, o time comandado pelo técnico Rodrigo segue na zona de classificação para a próxima fase. </p>
    

  </div>
    
    </br>
    </br>
    </br>
    </br>

  <div>
    <h2 class="subtitulo2"> Bauru domina Mogi fora de casa </h2>
    </br>
    </br>
    <h5 class="autor">Escrito por Levy Roque</h5>
    <img class="foto1" src="{% static 'esporte/img/sesi-bauru-sl.png' %}" alt="Boston" width="1100" height="300">
    <p class="tempo">05/02/2024 20:00 </p>
    
    </br>
    </br>
    

    <p class = "escrever"> Com um jogo dominante, os visitantes construíram a vitória nos dois primeiros quartos e foram para o intervalo com uma vantagem de 18 pontos sobre o adversário. 
    Apesar do Mogi levar a melhor no terceiro quarto, Bauru administrou o placar no segundo tempo de partida para chegar ao 13º triunfo na competição. </p>

    </div>

    </br>
    </br>
    </br>
    </br>


  <div> 
    <h2 class="subtitulo2"> Destaque no vôlei de base, Ana Clara inicia trajetória no Maringá </h2>
    </br>
    </br> 
    <h5 class="autor">Escrito por Levy Roque</h5>
    <img class="foto1" src="{% static 'esporte/img/anaclara.avif' %}" alt="Bulls" width="500" height="300">
    <p class="tempo">08/02/2021 14:30 </p>
  

    </br>
    </br>


    <p class = "escrever"> A jovem começou no vôlei em 2022, na escolinha do Colégio Classe A, sob orientação do professor Manoel. 
        Ainda naquele ano, se classificou para a fase estadual do JOER (Jogos Escolares de Rondônia) no vôlei de areia infantil, o que lhe deu visibilidade na modalidade.  </p>
  
    </div>  

    </br>
    </br>
    </br>
    </br>

  <div> 
    <h2 class="subtitulo2"> Suzano bate o Neurologia Ativa e volta a vencer na Superliga masculina de vôlei </h2>
    </br>
    </br>  
    <h5 class="autor">Escrito por Levy Roque</h5>
    <img class="foto1" src="{% static 'esporte/img/suzano.avif' %}" alt="Wizard" width="1100" height="300">
    <p class="tempo">10/02/2021 10:30 </p>

    </br>
    </br>

    <p class = "escrever"> A equipe paulista, que havia perdido para o Campinas na rodada passada, se recuperou e chegou aos 23 pontos, mantendo a sexta posição na classificação, 
        agora com campanha de oito vitórias em 15 partidas. O Neurologia segue afundando na lanterna. O time goiano ainda não venceu no campeonato e ocupa o último lugar, com dois pontos e 15 derrotas.
    </p>
  </div>
  
  </br>
  </br>
  </br>
  </br>

<div>  

<h2 class="subtitulo2">  Guarulhos negocia contratação de Armoa, da Argentina </h2>
</br>
</br>    

<h5 class="autor">Escrito por Levy Roque</h5>  
<img class="foto1" src="{% static 'esporte/img/armoa.webp' %}" alt="Wizard" width="1100" height="300">
<p class="tempo">12/02/2021 14:30 </p>

</br>
</br>

   <p class = "escrever"> Manuel Armoa.

    Ponteiro, argentino, 22 anos, 1,98m e atualmente jogando pelo Olsztyn, da Polônia.
    
    O jogador é prioridade de Guarulhos para a próxima temporada. </p>
</br>

</div>

</br>
</br>
</br>
</br>

<div>  

<h2 class="subtitulo2"> Ex-Sada Cruzeiro, técnico Marcelo Mendez pode assumir o Trentino </h2>
</br>
</br>    

<h5 class="autor">Escrito por Levy Roque</h5>  
<img class="foto1" src="{% static 'esporte/img/marmen.webp' %}" alt="Wizard" width="1100" height="300">
<p class="tempo">12/02/2021 14:30 </p>

</br>


  <p class = "escrever"> O Trentino, da Itália, busca um novo treinador para a próxima temporada, após confirmar, nesta segunda-feira (10/2), 
    que Fabio Soli deixará o cargo ao fim do ciclo de clubes.   </p>
</br>

</div>

</br>
</br>
</br>
</br>

<div>  

<h2 class="subtitulo2"> Matheus Celestino troca Campinas pelo Praia Clube </h2>
</br>
</br>  
<h5 class="autor">Escrito por Levy Roque</h5>    
<img class="foto1" src="{% static 'esporte/img/mateus.avif' %}" alt="Wizard" width="1100" height="300">
<p class="tempo">12/02/2021 14:30 </p>

</br>
</br>

  <p class = "escrever"> Celestino acreditou na versão dos dirigentes que a saída de Guarulhos e a proximidade com o atual clube poderiam deixá-lo mais perto da seleção.
  O discurso é comum em Campinas e aplicado com frequência.
  Celestino acordou. </p>
</br>

</div>





</div>
 
{% endblock %}
    
    
</body>
</html>




   

